{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-organize-imports"],
  "overrides": [
    {
      "files": [
        "slides.md",
        "pages/*.md",
        "example-rotation.md",
        "example-single.md"
      ],
      "options": {
        "parser": "slidev",
        "plugins": ["prettier-plugin-slidev"]
      }
    }
  ]
}
