@font-face {
  src: url(/assets/fonts/0-normal.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+0020-007F;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/1-italic.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+0020-007F;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/2-normal.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2000-206F;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/3-italic.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2000-206F;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/4-normal.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2070-209F;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/5-italic.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2070-209F;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/6-normal.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+3000-303F;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/7-italic.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+3000-303F;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/8-normal.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2600-26FF;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/9-italic.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2600-26FF;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/10-normal.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2700-27BF;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/11-italic.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2700-27BF;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/12-normal.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2300-23FF;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/13-italic.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2300-23FF;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/14-normal.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2190-21FF;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/15-italic.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2190-21FF;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/16-normal.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2B00-2BFF;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/17-italic.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2B00-2BFF;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/18-normal.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2200-22FF;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/19-italic.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2200-22FF;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/20-normal.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+2580-259F;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/21-italic.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+2580-259F;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/22-normal.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+0300-036F;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/23-italic.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+0300-036F;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/24-normal.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: normal;
  unicode-range: U+02B0-02FF;
  font-display: swap;
}

@font-face {
  src: url(/assets/fonts/25-italic.woff2) format('woff2');
  font-family: ml;
  font-weight: 100 900;
  font-style: italic;
  unicode-range: U+02B0-02FF;
  font-display: swap;
}

#app {
  #slide-content {
    .slidev-page {
      --at-apply: px-4 py-4 h-full text-text text-xl rounded-md overflow-hidden;
    }
    .grid-cols-2 > *:last-child {
      position: relative;
    }

    .slidev-layout {
      --at-apply: relative px-6 py-4 h-full;

      h1,
      h2,
      h3 {
        --at-apply: before:pr-3 before:text-text;
      }

      h1 {
        --at-apply: text-5xl font-black mb-4 before:content-['#'] leading-16;
      }

      h2 {
        --at-apply: text-3xl font-bold before:content-['##'] mb-2 leading-10
          mt-8;
      }

      h3 {
        --at-apply: text-2xl font-bold before:content-['###'] mb-2 leading-9
          mt-8;
      }

      table {
        --at-apply: text-text my-4;
      }

      table th {
        --at-apply: border-text px-2 py-2;
      }

      table td {
        --at-apply: border-text py-2;
      }

      p,
      li {
        --at-apply: leading-8;
      }

      li {
        --at-apply: list-disc my-2;
      }

      a {
        --at-apply: inline-block transition-filter duration-1000 border-0 underline decoration-dashed underline-offset-4 ease-in-out hover:saturate-200 hover:saturate-350;
      }
    }
    .slidev-layout.center {
      --at-apply: grid place-items-center text-center;
      h1 {
        --at-apply: text-6xl leading-16 mx-0 before:content-none mb-0;
      }
    }
    .slidev-layout.cover {
      --at-apply: grid place-items-center text-center;
      h1 {
        --at-apply: text-transparent bg-clip-text bg-gradient-to-r text-6xl leading-16 mx-0 before:content-none mb-0;
      }
      h1 + p {
        --at-apply: mt-1 leading-14 text-3xl;
      }
    }
  }
}
